body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20vh;
}

.hide {
  display: none;
}

#twitch-embed {
  margin-top: 5vh;
}

#twitch-embed iframe {
  max-width: 560px;
  margin: 0 auto;
  height: 320px;
  width: 100%;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}